[Desktop Entry]
Name=Pardus Power Manager
Name[tr]=Pardus Güç Yöneticisi
Comment=Power management tools for pardus
Comment[tr]=Pardus için güç yönetim aracı
Exec=/usr/lib/pardus/power-manager/start-window.sh
Icon=/usr/lib/pardus/power-manager/icon.svg
Terminal=False
Type=Application
Categories=Application;System;
