[Desktop Entry]
Name=Pardus Power Manager
Name[tr]=Pardus Güç Yöneticisi
Comment=Power management tools for pardus
Comment[tr]=Pardus için güç yönetim aracı
Exec=pardus-power-manager
Icon=/usr/lib/pardus/power-manager/balanced.svg
Terminal=False
Type=Application
Categories=Application;System;
